@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
    --light: #fff;
    --dark: #141414;
    --accent-1: #dc5935;
    --accent-2: #d3ef76;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: "DM Sans", sans-serif;
    background-color: var(--dark);
    color: var(--light);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1,
h2 {
    font-weight: 400;
    line-height: 1.1;
}

h1 {
    font-size: clamp(3rem, 4vw, 5rem);
}

h2 {
    font-size: clamp(1.5rem, 2.25vw, 3rem);
}

p {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.4;
}

section {
    position: relative;
    width: 100%;
    height: 100svh;
    background-color: var(--dark);
    overflow: hidden;
}

.outro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200svh;
    --overly-opacity: 0.35;
    will-change: transform;
}

.hero-img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark);
    opacity: var(--overly-opacity);
    will-change: opacity;
}

.hero-img img {
    will-change: filter;
}

.hero-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100svh;
    background-color: var(--dark);
    mask: linear-gradient(var(--light), var(--light)),
    url(".mask.svg") center/50% no-repeat;
    -webkit-mask: linear-gradient(var(--light), var(--light)),
    url(".mask.svg") center/50% no-repeat;
    mask-composite: subtract;
    -webkit-mask-composite: subtract;
    will-change: transform;
    pointer-events: none;
}

